body {
    background-image: url(https://vignette3.wikia.nocookie.net/supermariogalaxy/images/5/50/Wiki-background/revision/latest?cb=20150227215012);
    /* background-color: #F5F5F5; */
    margin: 5em;

}
.headerTitle {
    text-align: center;
    color: white;
}
.backgroundImage {

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.amiiboWrap {
    height: auto;

    padding-top: 1em;
    /* background-color: #CCA420; */
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-direction: row; */

}
img {
    margin: auto;
    height: 6em;
    /* display: inline-block; */
}
/* * {
    border: 1px solid black
} */
p {
    margin: auto;

    text-align: center:
}
.amiiboBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2px;
    border: 2px solid black;
    margin-left: .5em;
    margin-bottom: .5em;
    border-radius: 1em;
}
.formWrap {
    display: block;
    text-align: center;
    width: auto;

}

.infoTable, tr, th {
    border: 1px solid black;
}
